nav {
  background-image: url("../images/Banner\ Image.png");
  margin: 0px 300px;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
}
.banner {
  color: red;
  padding: 50px;
  text-align: center;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
}
.off {
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.deals {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.container {
  display: block;
  margin: 0px 500px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
}

.banner-title,p {
  text-align: justify;
  margin: 30px 50px;
  padding: 0px 500px;
}
.middleimg {
  background-image: url("../images/Vectorrr.png");
  display: block;
  margin: 0px 1000px;
  position: relative;
}
article li {
  padding: 5px 5px 5px 5px;

  /* margin: px 4px 5px 4px; */
  list-style: none;
  text-align: center;
}
.btn {
  color: white;
  background-color: #f00;
  border-radius: 0px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.place {
  padding: 50px 50px 150px 50px;
  margin: 50px 400px 50px 400px;
  background-color: #fff8f3;
}
.girl {
  display: block;
  align-items: center;
  margin: 0px 1000px;
}
.box {
  display: block;
  
  align-items: center;
  padding: 0px 0px;
  margin: 0px 200px;
}
.group-img{
  padding: 50px 50px 0px 50px;
  margin: 50px 1100px;
  background-image: url('../images/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-img{
  display: block;
  align-items: center;
  margin: 0px 400px;
}
.main-head{
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
}
.main-discpt{
  text-align: justify;
  margin: 30px 50px;
  padding: 0px 20px;
}
.main-last{
  padding: 50px 50px 150px 50px;
  margin: 50px 400px 50px 400px;
  background-color: #fff8f3;

}
footer li{
  display: flex;
  list-style: none;
}
.search-container {
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
